
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(to bottom right, #93c5fd, #e9d5ff, #fdba74);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  display: flex;
  max-width: 700px;
  max-height: 600px;
  background: linear-gradient(70deg,#b76d28 ,rgb(233, 178, 110));
  border-radius: 15px;
  box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%;
  height: 100vh;
  animation: slideIn 1s ease;
}

/* Left side illustration */
.illustration {
  background: linear-gradient(100deg,rgb(129, 182, 215),rgb(48, 71, 120));
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.illustration img {
  max-width: 100%;
  width: 400px;
  height: 300px;
}

/* Right side form */
.form-container {
  flex: 1;
  padding: 40px;
}

.form-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #111827;
}

.form-container p {
  color: #6b7280;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.row {
  display: flex;
  gap: 15px;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  margin-bottom: 6px;
}

input {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  outline: none;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.3);
}

.btn {
  padding: 12px;
  background: #63440f;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #beab5d;
}

.action:hover
{
  transform: translateY(-3px);
}

@keyframes slideIn {
    from { transform: translateY(-30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
